<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BlogSphere</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Home link - Always visible -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <!-- Add Blog link, only visible when user is logged in -->
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/add-new">Add Blog</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Add Blog</a>
                    </li>
                <% } %>

                <!-- User Dropdown, only visible when user is logged in -->
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Display profile image or default image if user doesn't have one -->
                            <img src="<%= user.profileImageURL || '/images/default-profile.png' %>" alt="Profile" class="rounded-circle" width="30" height="30">
                            <%= user.fullName %> <!-- Display user's full name -->
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <!-- Signin and Signup links, only visible when user is not logged in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">Create Account</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
