<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blogify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Home link -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <!-- Add Blog link (currently inactive) -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Add Blog</a>
                </li>

                <!-- Pricing link (currently inactive) -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pricing</a>
                </li>

                <!-- Show user dropdown if logged in -->
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.fullName %> <!-- Display user's full name -->
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <!-- Show Signin and Signup links if user is not logged in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">Signup</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
